<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Dealer</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <div class="card position-absolute top-50 start-50 translate-middle" style="width: 18rem;" >
            <div class="card-body">
                <h5 class="card-title">Contactanos</h5>
                <div>
                    <span class="input-group-text" id="basic-addon1">dealercr@shopvehicle.com</span>
                </div>
                <div>
                    <span class="input-group-text" id="basic-addon1">Telefono - 2212-2442</span>
                </div>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer" />
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>

</html>
