<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Dealer</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <div class="contenido">
            <h2 >Lista de clientes</h2>
            <a th:href="@{/vehiculo/nuevo}">Nuevo cliente</a>
            <br/><!-- comment -->
            <br/>
            <div th:if="${vehiculos != null and !vehiculos.empty}">
                <table border="1">
                    <thead>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Activo</th>
                    <th colspan="2">Acciones</th>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${vehiculos}">
                            <td th:text="${item.descripcion}"></td>
                             <td th:text="${#numbers.formatDecimal(item.precio, 3, 2)}"></td>
                            <td><input type="checkbox" name="activo" th:checked="${item.activo}" disable="true"></td>

                            <td><a th:href="@{/vehiculo/modificar/} + ${item.idVehiculo}">Modificar</a></td>
                            <td><a th:href="@{/vehiculo/eliminar/} + ${item.idVehiculo}">Eliminar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${vehiculos == null or vehiculos.empty}">
                La lista de clientes esta vacia...
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>